<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">© Christoff van der Walt <span class="copyright-year">0000</span></span>
    </div>
    <script src="/js/script.js"></script>
</footer>