<% layout("layout/boilerplate") %> 
<div id="clusterMap"></div>
<%- include("./partials/flash") %>
<h1 clas="main-heading">Welcome to the World of beer</h1>


<script>
    const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
    const breweries = { features: <%- JSON.stringify(breweries) %>};
  </script>
  <script src="/js/clusterMap.js"></script>
