<% layout("layout/boilerplate") %>
<h1 class="main-heading">Add a new brewery</h1>
<div class="form-brewery">
  <form
    action="/breweries/add"
    method="POST"
  >
    <div class="form-item">
      <input type="text" name="name" id="name" autocomplete="off" required />
      <label for="name">
        <span class="form-item-name">Brewery Name</span></label
      >
    </div>
    <div class="form-item">
      <input type="text" name="founded" id="founded" required />
      <label for="founded">
        <span class="form-item-name">Year Founded</span></label
      >
    </div>
    <div class="form-item">
      <input type="text" name="city" id="city" required />
      <label for="city"> <span class="form-item-name">City</span></label>
    </div>
    <div class="form-item">
      <input type="text" name="country" id="country" required />
      <label for="country"> <span class="form-item-name">Country</span></label>
    </div>
    <div class="form-item textarea-item">
      <textarea
        name="description"
        id="description"
        cols="50"
        rows="150"
        onInput="this.parentNode.dataset.replicatedValue = this.value"
        required
      ></textarea>
      <label for="description">
        <span class="form-item-name">Description</span></label
      >
    </div>
    <div class="form-item">
      <input type="text" name="logo_path" id="logo_path" required />
      <label for="logo_path"
        ><span class="form-item-name">Logo URL</span></label
      >
    </div>
    <div class="form-item">
      <input type="text" name="website" id="website" required />
      <label for="website"><span class="form-item-name">Website</span></label>
    </div>
    <button class="btn btn-primary submitButton" type="submit">Add brewery</button>
    <a href="/breweries"
      ><button class="btn btn-danger" type="button">Cancel</button></a
    >
  </form>
</div>
