<% layout("layout/boilerplate") %>
<h1 class="main-heading">List of Breweries</h1>

<div class="container">
  <div class="row">
    <% for( let brewery of breweries ) { %>
    <div class="col-lg-3 col-md-6">
      <div class="card brewery-card">
        <img
          src="<%= brewery.logo_path %> "
          class="card-img-top brewery-logo"
          alt="logo-img"
        />
        <div class="card-body">
          <h5 class="card-title"><%= brewery.name %></h5>
          <p class="card-text"><%= brewery.country %> </p>
          <a href="breweries/<%= brewery._id%> " class="btn btn-dark"
            >View More</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
